* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:rgb(246, 248, 249);
  font-family: sans-serif;
}

.container {
  width: 60%;
  height: 600px;
  background-color: white;
  margin: 50px auto;
  border-radius: 20px;
}

#header-top {
  color:black;
  font-size: 50px;
  font-weight: 800;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

#header-top img {
  width: 75px;
  vertical-align: middle;
}

.container button {
  padding: 10px 20px 10px 20px;
  margin: 30px 0px 20px;
  font-size: 20px;
  border-radius: 10px;
}

.container .first-button {
  margin-left: 100px;
  background-color:white; 
  background-color: rgb(71, 173, 241);
  border-color: rgb(71, 173, 241);
  color: white
}

.container .secondary-button {
  margin-left: 10px;
  background-color:white;
  border-color: rgb(204, 208, 213);
  color: rgb(204, 208, 213);
}

.container hr {
  color: rgba(204, 208, 213, 0.491);
  background: rgba(204, 208, 213, 0.491);
  border: 0;
  height: 2px;
}