/*margini generali*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*sfondo e font*/
body {
  background-color:rgb(246, 248, 249);
  font-family: sans-serif;
}

/*margini container*/
.container {
  width: 60%;
  height: auto;
  background-color: white;
  margin: 50px auto;
  border-radius: 20px;
  padding-bottom: 10px;
}

/*font e sfondo header*/
#header-top {
  color:black;
  font-size: 50px;
  font-weight: 800;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

/*dimensione e allineamento logo*/
#header-top img {
  width: 75px;
  vertical-align: middle;
}

/*formattazione generale bottoni*/
.container button {
  padding: 10px 20px 10px 20px;
  margin: 30px 0px 20px;
  font-size: 20px;
  border-radius: 10px;
}

/*formattazione primo bottone*/
.container .first-button {
  margin-left: 100px;
  background-color:white; 
  background-color: rgb(71, 173, 241);
  border-color: rgb(71, 173, 241);
  color: white
}

/*formattazione secondo bottone*/
.container .secondary-button {
  margin-left: 10px;
  background-color:white;
  border-color: rgb(204, 208, 213);
  color: rgb(204, 208, 213);
}

/*formattazione linea*/
.container hr {
  color: rgba(204, 208, 213, 0.491);
  background: rgba(204, 208, 213, 0.491);
  border: 0;
  height: 2px;
}

/*margini sezione a scomparsa*/
.container summary {
  margin: 30px 100px 20px;
}

/*formattazione sezione a scomparsa*/
.container details {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
}

/*formattazione marcatori generale*/
details li::before {
  display: inline-block;
  align-content: center;
  font-size: 15px;
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 100%;
  padding: 5px;
  margin-right: 15px;
}

/*marcatore spunta*/
details li.true::before {
  content: '\2713';
  color:green;
  border: 1px solid;
  border-color: green;
}

/*marcatore croce*/
details li.false::before {
  content: '\2717';
  color:red;
  border: 1px solid;
  border-color: red;
}

/*formattazione lista*/
details li {
  margin-left: 100px;
  padding-left: 0px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 400;
  color: black;
  list-style: none;
}

/*formattazione tag generale*/
details li.tag::after {
  padding: 10px 20px 10px 20px;
  margin: 30px 20px 20px;
  font-size: 20px;
  border-radius: 20px;
  color: white;
  font-weight: 300;
}

/*tag editorial*/
details li.tag.editorial::after {
  content: "Editorial";
  background-color: rgb(71, 173, 241);
}

/*tag q1goals*/
details li.tag.q1goals::after {
  content: "Q1 Goals";
  background-color: rgb(154, 112, 224);
}

/*tag recruiting*/
details li.tag.recruiting::after {
  content: "Recruiting";
  background-color:rgb(100, 192, 169);
}

/*tag mobile*/
details li.tag.mobile::after {
  content: "Mobile";
  background-color: orange;
}

/*tag website*/
details li.tag.website::after {
  content: "Website";
  background-color:rgb(216, 98, 160);
}

/*tag sales*/
details li.tag.sales::after {
  content: "Sales";
  background-color:rgb(176, 201, 38);
}